@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#ext_menu-0 .navbar-toggler {
  color: #000;
}
#ext_menu-0 .navbar-brand {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
#header1-1 H1 {
  color: #ffffff;
}
#header1-1 P {
  color: #ffffff;
}
#content1-6 P {
  text-align: center;
}
#content1-5 DIV {
  text-align: center;
}

#ext_menu-7 .navbar-toggler {
  color: #000;
}
#ext_menu-7 .navbar-brand {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#form1-e .mbr-section-title {
  color: #000000;
}
#msg-box2-g P {
  text-align: center;
}
#ext_menu-c .navbar-toggler {
  color: #000;
}
#ext_menu-c .navbar-brand {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#ext_menu-k .navbar-toggler {
  color: #000;
}
#ext_menu-k .navbar-brand {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
#header4-m H1 {
  color: #ffffff;
}

#ext_menu-n .navbar-toggler {
  color: #000;
}
#ext_menu-n .navbar-brand {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}

#ext_menu-u .navbar-toggler {
  color: #000;
}
#ext_menu-u .navbar-brand {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
#features1-12 P {
  text-align: center;
}
#features1-1f P {
  text-align: center;
}
#features1-1g P {
  text-align: center;
}

#ext_menu-13 .navbar-toggler {
  color: #000;
}
#ext_menu-13 .navbar-brand {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
#features1-1d P {
  text-align: center;
}
#features1-1e P {
  text-align: center;
}

#ext_menu-15 .navbar-toggler {
  color: #000;
}
#ext_menu-15 .navbar-brand {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 20px;
}
#features1-17 P {
  text-align: center;
}
#features1-18 P {
  text-align: center;
}
#features1-19 P {
  text-align: center;
}
#features1-1a P {
  text-align: center;
}
#features1-1b P {
  text-align: center;
}
